.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.600);

    display: flex;
    justify-content: space-between;

    position: fixed;

    top: 0;
    left: 0;
    z-index: 100;
    transition: 0.2s ease-in-out;
}
.nav:hover{
    transition: 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0.750);
}
    /*-------SECCION-NAV-------*/
    .seccion-nav{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .seccion-nav  img{
        height: 50px;
        margin-left: 10px;
    }

    .seccion-nav > .formato-a{
        color: white;
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;

        transition: 0.2s ease-in
    }
    .seccion-nav > .formato-a:hover{
        transform: scale(1.1);

        border-width: 0px 0px 1px;
        border-style: solid;

        transition: 0.2s ease-in; 
    }
    
    .seccion-nav > .boton > button{
        padding: 5px;
        
        margin-right:10px;
        margin-left: 10px;
        color: white;

        background-color: rgba(0, 0, 0, 0);
        border-color: white;
        border: 1px solid;
        border-radius: 2rem;
        transition: 0.5s ease;
    }
    .seccion-nav > .boton > button:hover{
        transition: 0.5s ease;
        cursor: pointer;
        color: black;
        border-color: black;
        background-color: rgba(255, 255, 255, 0.9);
    }
    /*-------BUSCADOR-------*/
    .buscador{
        margin-left: 10px;
        margin-right: 10px;

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        border-radius: 3rem;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.2s ease-in-out;
    }
    .buscador:hover{
        transition: 0.2s ease-in-out;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .buscador button{
        border: none;
        background: none;
    }
    .buscador input{
        width: calc(100% - 50px);
        height: 30px;
        background:none;
        border-style: none;
    }
    .buscador input:focus{
        border-style: none;
        background:none;
        outline: none;
    }
    .buscador img{
        height: 40px;
    }
    .boton-carrito-compra{
        width: 40px;
        height: 40px;
        background-image: url('../img/carrito_compra.png');
        background-size: cover; 
        background-position: center;
        border: none;
        cursor: pointer; 
        transition: 0.2s ease-out;
    }
    .boton-carrito-compra:hover{
        transition: 0.2s ease-out;
        transform: scale(1.1);
    }
#btnCerrarSession{
    display: none;
}
@media only screen and (max-width: 991px) {
    .seccion-nav{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 15px;
    }
    .seccion-nav a{
        margin-bottom: 10px;
    }
    .nav-item:last-child{
        order: -1;
    }
    .seccion-nav > button{
        margin-top: 10px;
        margin-left: 0px;
    }
}
