@import url(./normalization.css);
@import url(./navbar.css);
@import url(./carrucel.css);
@import url(./footer.css);
@import url(./galeria.css);
@import url(./login.css);
@import url(./ficha.css);
@import url(./galeria-carrito-compra.css);

body{
    background-image: url("/assets/img/fondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    @media screen and (max-width: 1400px) {
      body {
        background-image: url("/assets/img/fondo.png");
        background-size: 450%;
      }
}



.fondo-gris{
    background-color: #dadada;
}